<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      background-color: black;
      color: rgb(47, 217, 255);
      display: flex;
      flex-direction: row;
    "
  >
    <!-- Left nav panel -->
    <div
      style="
        width: 15vw;

        border-right: 1px solid rgb(7, 207, 221);
        text-align: center;
      "
    >
      <!-- user image and username -->
      <div style="border-bottom: 1px solid rgb(7, 207, 221); padding: 5px">
        <img
          style="
            width: 50px;
            border: 2px solid rgb(7, 207, 221);
            border-radius: 50%;
          "
          src="/media/{{user.avatar}}/"
          alt="Image Not found"
        />
        <h1>
          <a style="color: rgb(8, 250, 238)" href="/profile/{{user.id}}/">
            @{{user.username}}
          </a>
        </h1>
        <a style="color: rgb(7, 207, 221)" href="{{user.email}}"
          >{{user.email}}</a
        >
      </div>
      <div style="border: 1px solid rgb(7, 207, 221)">
        <h1>Bio:</h1>
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Birthday: {{user.birthday}}</p>
      </div>

      <!-- Nav Links -->

      <div style="padding: 5px; display: flex; flex-direction: column">
        <!-- Home -->
        <button
          style="
            height: 50px;
            background-color: rgba(0, 0, 0, 0.213);
            margin-bottom: 5px;
          "
        >
          <a
            style="text-decoration: none; color: white; font-weight: bolder"
            href="/"
            >Home</a
          >
        </button>

        <!-- new tweet -->
        <button
          style="
            height: 50px;
            background-color: rgba(0, 0, 0, 0.213);
            margin-bottom: 5px;
          "
        >
          <a
            style="text-decoration: none; color: white; font-weight: bolder"
            href="/tweet/add/"
            >Tweet</a
          >
        </button>

        <!-- Notifications -->
        <button
          style="
            height: 50px;
            background-color: rgba(0, 0, 0, 0.213);
            margin-bottom: 5px;
          "
        >
          <a
            style="text-decoration: none; color: white; font-weight: bolder"
            href="#"
            >Notifications</a
          >
        </button>

        <!-- Profile -->
        <button
          style="
            height: 50px;
            background-color: rgba(0, 0, 0, 0.213);
            margin-bottom: 5px;
          "
        >
          <a
            style="text-decoration: none; color: white; font-weight: bolder"
            href="/profile/{{request.user.id}}/"
            >Profile</a
          >
        </button>

        <!-- Logout -->
        <button
          style="
            height: 50px;
            background-color: rgba(0, 0, 0, 0.213);
            margin-bottom: 5px;
          "
        >
          <a
            style="text-decoration: none; color: white; font-weight: bolder"
            href="/logout/"
            >Logout</a
          >
        </button>

        <!-- if user is staff display button to access admin -->
        {%if request.user.is_staff%}

        <button
          style="
            height: 50px;
            background-color: rgba(0, 0, 0, 0.213);
            margin-bottom: 5px;
          "
        >
          <a
            style="text-decoration: none; color: white; font-weight: bolder"
            href="/admin/"
            >Admin</a
          >
        </button>

        {%endif%}
      </div>
    </div>

    <!-- Tweet feed -->
    <div
      style="
        width: 60vw;

        margin-right: 5px;
        border-right: 1px solid rgb(7, 207, 221);
        border-top-right-radius: 14px;
      "
    >
      <!-- Header -->
      <div
        style="text-align: center; border-bottom: 1px solid rgb(7, 207, 221)"
      >
        <h1>{{user.username}}'s Feed</h1>
      </div>

      <!-- Feed displays all "Tweets from currently logged in user and users they follow" -->
      {%for post in posts%}
      <div
        style="
          width: 25vw;
          border: 2px solid rgb(3, 155, 189);
          border-radius: 44px;
          box-shadow: 7px 5px white;
          margin: auto;
          margin-top: 15px;
          text-align: center;
        "
      >
        <div style="border-bottom: 1px dashed rgb(3, 155, 189)">
          <h1 style="color: white">{{post.title}}</h1>
          <p
            style="display: flex; justify-content: center; align-items: center"
          >
            <img
              style="width: 50px; border-radius: 50%; align-self: center"
              src="/media/{{post.created_by.avatar}}/"
            />
            Posted By:

            <a
              style="text-decoration: none; color: red"
              href="/profile/{{post.created_by.id}}/"
            >
              @{{post.created_by}}</a
            >
          </p>
          <p>on: {{post.posted_at}}</p>
        </div>

        <div>
          <h3 style="color: white">{{post.created_by}} Say's:</h3>
          <p>{{post.body}}</p>
        </div>
      </div>

      {%endfor%}
    </div>

    <!-- followers section -->
    <div
      style="
        border-left: 1px solid rgb(7, 207, 221);
        border-top-left-radius: 14px;
        width: 25vw;
        text-align: center;
      "
    >
      <div style="border-bottom: 1px solid rgb(7, 207, 221)">
        <h1>My Followers</h1>
      </div>
      <div
        style="
          display: flex;
          height: 350px;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          justify-content: space-evenly;
          align-items: center;
          border-bottom: 1px solid rgb(7, 207, 221);
        "
      >
        None
      </div>

      <!-- Following -->

      <div style="border-bottom: 1px solid rgb(7, 207, 221)">
        <h1>Who I follow</h1>
      </div>
      <div
        style="
          display: flex;
          height: 350px;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          justify-content: space-evenly;
          align-items: center;
          border-bottom: 1px solid rgb(7, 207, 221);
        "
      >
        None
      </div>
    </div>
  </body>
</html>
