<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: black">
    <button>
      <a href="/">back</a>
    </button>
    <center>
      <form
        method="post"
        action=""
        enctype="multipart/form-data"
        style="
          border: 3px solid rgb(138, 136, 136);
          width: 400px;
          background-color: rgb(22, 24, 24);
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          color: white;
        "
      >
        <h1>Signup for a new account.</h1>
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Submit" />
      </form>
    </center>
  </body>
</html>
